/* =========
Fonts
============ */
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v17-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url("../fonts/lato-v17-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v17-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ========
Globals
============ */

/* box-sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper-big {
  max-width: 1262px;
  margin: 0 auto;
}
.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section-title:after {
  content: "";
  display: block;
  width: 253px;
  height: 3px;
  background: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

/* =========
Header 
=========== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 99;
}
.header_active {
  background-color: rgb(14, 29, 40, 0.6);
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header-list {
  display: flex;
  flex-wrap: wrap;
}
.header-item {
  margin-right: 82px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 0.75;
}

/* ==========
Hero
============= */

.hero {
  min-height: 100vh;
  background: url(../images/hero-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}
.hero-title {
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  margin-bottom: 22px;
}
.hero-subtitle {
  color: white;
  font-size: 16px;
  line-height: 24px;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form_info {
  display: flex;
  flex-wrap: wrap;
}
.search-form_field {
  background: transparent url(../images/svg/circle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  width: 297px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.search-form_field::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.search-form_submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
  color: white;
  background: #1b7dff;
  border: 0;
}

.search-form_submit:hover,
.search-form_submit:focus,
.search-form_submit:active {
  background: #1a69d1;
}
/* ==========
BENEFITS
============= */
.benefits {
  margin-bottom: 131px;
}
.benefits_wrap {
  max-width: 1262px;
  background: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits_title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}
.benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 0 100px;
}
.benefits_card {
  grid-column: span 1;
  margin-bottom: 112px;
}
.benefits_card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}
.benefits-card-thumb {
  display: block;
}
.benefits_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}
.benefits-card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits_card-more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../images/svg/arrow-icon.svg) no-repeat 95% center;
  transition: 0.2s background;
}
.benefits_card-more:hover,
.benefits_card-more:focus {
  background: url(../images/svg/arrow-icon.svg) no-repeat right center;
}

/*==========
Places
============ */
.places {
  margin-bottom: 131px;
}
.places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places_view-all {
  font-size: 16px;
  color: #006def;
  text-decoration: none;
  background: url(../images/svg/arrow-icon.svg) no-repeat right center;
  padding-right: 59px;
  transition: 0.5s all;
}
.places_view-all:hover,
.places_view-all:focus {
  opacity: 0.65;
}

.places-title {
  margin-right: 15px;
}

.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.places_card {
  position: relative;
  overflow: hidden;
}
.places_card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
}
.places_card:hover .places_card-pic {
  transform: scale(1.05);
}
.places_card-lg {
  grid-column: span 3;
}
.places_card-pic {
  width: 100%;
  transition: 0.17s all;
}
.places_card-pic_lg {
  height: 354px;
  object-fit: cover;
}
.places_card-pic_small {
  object-fit: cover;
  height: 283px;
}
.places_card-title {
  z-index: 3;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
}
.places_card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  cursor: pointer;
}
.places_card-small {
  grid-column: span 2;
}
/*==========
Tours
============ */
.tours {
  margin-bottom: 139px;
}
.tours-tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour_title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour_desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}
.tour_info {
  padding-left: 47px;
}
.tour_more {
  font-size: 16px;
  color: #006def;
  text-decoration: none;
  background: url(../images/svg/arrow-icon.svg) no-repeat 95% center;
  padding-right: 59px;
  transition: 0.5s all;
}

.tour_more:hover,
.tour_more:focus {
  background: url(../images/svg/arrow-icon.svg) no-repeat right center;
}
/*==========
Recommendation
============ */
.recommendation {
  margin-bottom: 86px;
}

.recommendation_title {
  margin-bottom: 54px;
}
.recommendation-card {
  display: flex;
  flex-direction: column;
}

.recommendation_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 57px;
}

.recommendation_card-pic {
  position: relative;
  margin-bottom: 45px;
}

.recommendation_card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.recommendation_card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}
.recommendation_card-likes {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../images/svg/heart.svg) no-repeat right;
  margin-right: 14px;
}
.recommendation_card-comments {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../images/svg/comments.svg) no-repeat right;
}
.recommendation_card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}
.recommendation_card-more {
  width: 118px;
  padding: 12px 19px;
  text-decoration: none;
  font-size: 16px;
  background: #006dfe;
  color: white;
  transition: 0.2s all;
  margin: auto 0 0 0;
}
.recommendation_card-more:hover,
.recommendation_card-more:focus,
.recommendation_card-more:active {
  background: #1a69d1;
}

/* ==========
Videos
============= */
.videos {
  width: 100%;
}
.videos-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video-item {
  padding-top: 56.25%;
}
.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
